#bloc-page-resetpassword{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bloc-instagram-resetpassword{ 
    width:100%;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 50px;
    padding-top: 10px;
    
}
.bloc-instagram-resetpassword img{
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 120px;
    height: 40px;
    object-fit: cover;
    font-size: 10px;
    left:20%;
    position: absolute;
}
.bloc-reset-password{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    margin: auto;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: #ffffff;
}
.bloc-reset-password img{
    object-fit: cover;
    width: 150px;
    height: 100px;
    display: flex;
    margin: auto;
}
.bloc-reset-password h3{
    font-size: 20px;
    color: #373737;
}
.bloc-span-reset{
    color: #737373;
    line-height: 22px;
    margin: auto;
    font-size: 17px;
    
}
.button-reset{
    opacity: 0.4;
    border-radius: 8px;
}
.input-reset{
    border-radius: 8px !important;

}
.insta{
    color: black;
    font-size: 22px;
    font-weight: 500;
}
.reset-password{
    font-size: 14px;
    color: #00376b;
}
.tiret-reset{
    padding-top: 15px;
}
.compte{
    margin: auto;
    padding-top: 10px;
    color:#262626;
    cursor:pointer;
    font-size: 16px;
    padding-bottom: 90px;
}
.compte :hover{ 
    color: #737373;
}
.back-connexion{
    color:#262626;
    font-size: 16px;
    background: #fafafa;
    text-align: center;
    border: 2px solid #dbdbdb;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    margin: auto;
    transform: translate3d(0,-50px,0);
    cursor: pointer;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.back-connexion :hover{
    color: #737373;
}


